header {
    height: 100px;
    width: 870px;
    background: #2cfdf1;
    display: flex;
    justify-content:flex-start;
}
.logo {
    height: 90px;
    width: 90px;
    background: #fd54a5;
    align-self: center;
    border-radius: 50%;
}

.body {
    width: 870px;
    height: 450px;
    display: flex;

}
.three {
    height: 300px;
    width: 100px;
    background: #bb95e1;
}
.eight {
    height: 50px;
    width: 100px;
    background: darkseagreen;
}
.nine {
    height: 50px;
    width: 100px;
    background: blueviolet;
}
.first-column {
    height:450px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.second-column {
    width: 790px;
    height:450px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.four-five{
    width: 800px;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.four {
    width:380px;
    height:150px;
    background: #fda901;

}
.six {
    width:380px;
    height:200px;
    background: #6394eb;
}
.six-seven {
    width: 800px;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
}
.five {
    width: 320px;
    height: 150px;
    background: greenyellow;


}
.seven {
    width:320px;
    height: 200px;
    background: darksalmon;
}
.additional {
    display: none;
}
footer {
    height: 100px;
    width: 870px;
    background: #2cfdf1;
}

@media screen and (min-width: 393px) and (max-width:851px ) {

    header {
        height: 100px;
        width: 393px;
    }
    .eight, .nine {
        display: none;
    }
    .three {
        height: 100px;
        width: 390px;
    }
    .first-column {
        height: 100px;
        width: 393px;
    }
    .body {
        width: 393px;
        display: inline;
    }
    .four-five {
        width: 393px;
        height:300px ;
    }
    .second-column {
        width:393px;
        display: flex;
    }
    .four-five {
        width: 380px;
        height: 150px;

    }
    .four {
        width: 280px;
        height: 147px;
    }
    .five {
        width: 115px;
        height: 147px;
        margin-left: 5px;
    }
    .six-seven {
        width: 393px;
        height:300px ;
        display: inline;
    }
    .six {
        height:100px;
        width: 390px;
    }
    .seven {
        height: 90px;
        width: 390px;
    }
    footer {
        display: none;
    }
    .additional {
        display: flex

    }
    .add8 {
        height: 50px;
        width: 190px;
        background: darkseagreen;
    }
    .add9 {
        height: 50px;
        width: 200px;
        background: blueviolet;
    }
    .footer {
        height: 100px;
        width: 390px;
        background: #2cfdf1;
    }
}